lys_expression.csv
.RData
.Rhistory
protein.fa
protein.fa.gz
Gnomon_prot.fsa
Gnomon_prot.fsa.gz
packrat/lib*/
env
dds.RDS
gene_counts.tsv
gal_dev.fasta
gal_dev_fil.fasta
ortho/Results_Jun16
ortho
ortho
lepbase_v4
gal_dev_fil.fasta.nhr
gal_dev_fil.fasta.nin
gal_dev_fil.fasta.nsq
